body.editable {
    padding: 1px;
}

*[contenteditable='plaintext-only'] {
    outline: #00FF00 dashed thin !important;
}

.pe-element{
    
    .pec-empty, &.pec-empty{
        background: rgba($color: #999, $alpha: 0.3);
        min-height: 120px;
    }

    &:hover{
        //outline: #00FF00 dashed 1px !important;
    }

}